<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span>Cadastrar Disciplina</span></li>
				</ul>
			</div>
			<a class="btn btn-primary btn-md" href="/disciplinas/listar" role="button">
				<span class="oi oi-spreadsheet" title="Cadastro" aria-hidden="true"></span>
				<span>Listar Disciplinas</span>
			</a>
		</nav>

		<div class="container" id="cadastro">

			<div th:replace="fragments/alert"></div>
			<form th:action="${disciplina.id == null} ? @{/disciplinas/salvar} : @{/disciplinas/editar}" th:object="${disciplina}" method="POST">
				
				<div class="form-row">
				
					<div class="form-group col-md-6">
						<label for="nome">Nome do Disciplina</label> <input type="text"
							class="form-control" id="nome" placeholder="Nome Disciplina"
							autofocus="autofocus" th:field="*{nome}" />
					</div>
					
					<div class="form-group col-md-6">
						<label for="descricao">Descrição Disciplina</label> <input type="text"
							class="form-control" id="descricao" placeholder="Descricao Disciplina"
						    th:field="*{descricao}" />
					</div>
					
					<div class="form-group col-md-6">
						<label for="dta_inicio">Data Inicio</label> <input type="date"
							class="form-control" id="dta_inicio" 
							th:field="*{dta_inicio}" />
					</div>
					
					<div class="form-group col-md-6">
						<label for="dta_fim">Data Fim</label> <input type="date"
							class="form-control" id="dta_fim" 
							th:field="*{dta_fim}" />
					</div>
					
					<div class="form-group col-md-6">
						<label for="situacao">Situação Disciplina</label> <input type="text"
							class="form-control" id="situacao" placeholder="Situacao Disciplina"
							th:field="*{situacao}" />
					</div>
					
					<div class="form-group col-md-4">
						<label for="tutor">Tutor</label> <select
							id="tutor" class="form-control" th:field="*{tutor}">
							<option value="">Selecione Tutor</option>
							<option th:each="d : ${tutores}" th:value="${d.id}"
								th:text="${d.nome}"></option>
						</select>
					</div>
					
				</div>
				
				<input type="hidden" id="id" nth:field="*{id}" />
				<button type="submit" class="btn btn-primary btn-sm">Salvar</button>
			</form>
		</div>
	</section>
</body>
</html>
