<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"></head>
<body>
			<nav class="sidebar sidebar-open" th:fragment="nav-sidebar">
				<ul class="nav nav-pills">
					<li class="nav-item"><a class="nav-link " href="/"> <i
							class="oi oi-home"></i> <span>Home</span>
					</a></li>
				</ul>

				<ul class="nav nav-pills">
					<li class="nav-item"><span class="nav-link active" >Manter Alunos</span></li>
					<li class="nav-item"><a class="nav-link"
						href="/alunos/cadastrar"> <i class="oi oi-plus"></i> <span>Cadastrar</span>
					</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/alunos/listar"> <i class="oi oi-spreadsheet"></i>
							<span>Listar </span>
					</a></li>
				</ul>

				<ul class="nav nav-pills">
					<li class="nav-item"><span class="nav-link active" >Manter Tutores</span></li>
					<li class="nav-item"><a class="nav-link" 
						href="/tutores/cadastrar"> <i class="oi oi-plus"></i> <span>Cadastrar </span>
					</a></li>
					<li class="nav-item"><a class="nav-link" 
						href="/tutores/listar"> <i
							class="oi oi-spreadsheet"></i> <span>Listar </span>
					</a></li>
				</ul>

				<ul class="nav nav-pills">
					<li class="nav-item"><span class="nav-link active">Manter Disciplinas</span></li>
					<li class="nav-item"><a class="nav-link" 
						href="/disciplinas/cadastrar"> <i class="oi oi-plus"></i> <span>Cadastrar </span>
					</a></li>
					<li class="nav-item"><a class="nav-link" 
						href="/disciplinas/listar"> <i class="oi oi-spreadsheet"></i> <span>Listar </span>
					</a></li>
				</ul>
			</nav>
</body>
</html>